.ToDoList {
  margin: 0 auto;
  list-style-type: none;
}

.toDoListItem {
  width: 40vw;
  padding: 15px;
}

.itemIndex {
  margin-right: 20px;
}

.iconWrapper {
  float: right;
  i {
    cursor: pointer;
  }
}