.AddToDo {
  margin: 20px auto;
}
.inputWrapper {
  width: 40vw;
}

.form {
  margin: 0 auto;
}

.descriptionWrapper {
}

.descriptionNone {
  display: none;
  width: 452px;
}

.descriptionVisible {
  display: block;
  width: 452px;
}

.descriptionAdd {
  width: 452px;
  text-align: right;
  color: darkcyan;
  font-size: 1em;
}