.AddToDo {
  margin: 20px auto;
}

.descriptionContainer {
  display: flex;
}

.descriptionDisabled {
  visibility: hidden;
  order: 1;
}
.descriptionEnabled {
  visibility: visible;
  order: 1;
}

.descriptionButton {
  order: 2;
  text-align: center;
}