.AddToDo {
  margin: 20px auto;
}

.descriptionContainer {
  display: flex;
}

.descriptionHidden {
  visibility: hidden;
  order: 1;
}

.descriptionVisible {
  visibility: visible;
  order: 1;
}

.descriptionButton {
  order: 2;
  text-align: center;
}